body {
    background: url(../assets/image1.webp) no-repeat center fixed;
    background-size: cover;
    position: relative;
    z-index: 0; 
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /*Estilo del nombre*/
#trademark {
    font-family: "Oleo Script", system-ui;
    font-weight: 100;
    font-style: normal;
    color: rgb(74, 57, 77);
    font-size: 3.5rem;
    text-align: center; 
    z-index: 1; 
    margin-top: 3rem;
}

/*Estilo de la frase de la página de inicio*/
.frase {
    font-family: "Oleo Script", system-ui;
    font-weight: 100;
    font-style: normal;
    color: rgb(97, 77, 99);
    font-size: 1.5rem;
    position: relative;
    z-index: 1; 
    margin-top: 13rem;
    text-align: center;
}

/*Estilo del botón de la página de inicio*/
#btn-in {
    display: inline-block;
    padding: 0.5rem 0.6rem;
    border: solid rgb(130, 99, 134);
    color: rgb(89, 66, 92);
    text-decoration: none;
    border-radius: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
 
#btn-in:hover {
    background-color: rgb(89, 66, 92);
    color: whitesmoke;
}
/*Estilo de la barra de navegación*/
#nav {
    background-color: #747b77;
    position: fixed; /* Hace que la nav sea fija */
    top: 0; /* Coloca la nav en la parte superior */
    width: 100%; /* Asegura que la nav ocupe todo el ancho de la página */
    background-color: #747b77; 
    padding: 1rem; /* Espaciado interno */
    z-index: 1000; /* Asegura que la nav esté por encima de otros elementos */ 
}
.navbar .nav-item:hover{
    font-weight:bolder;
    color: whitesmoke;
    }

  
.nav .navbar-brand {
    font-weight: bold;
    color: rgb(89, 66, 92);
        
}
      
.navbar .nav-link {
    color: rgb(89, 66, 92); 
     margin: 0 10px; 
        
}
      
.navbar .nav-link:hover {
    background-color: #4c4974;
    font-weight: bolder;
}
      
.navbar-toggler {
    border-color: #4c4974; 
}
      


/*Estilo de la lista de productos*/
#container {
    display: flex;
    flex-direction: column;
    justify-content:center; /* Alinea el contenido hacia abajo */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    padding-bottom: 5rem; /* Ajusta el espacio entre el contenido y el borde inferior */
    box-sizing: border-box; 
}


.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
 
.product-card {
    margin: 1rem 2rem;
    border: rgb(130, 99, 134) solid;
    border-radius: 15px;
}

.product-image{
    display: block;
    margin: 0 auto;
    max-width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    object-fit: cover;
  }
   
.title {
    font-family: "Oleo Script", system-ui;
    color: rgb(74, 57, 77);
    font-size: 2rem;
    text-align: center;
    padding-top: 5rem;
}

.product-details h2 {
    color: rgb(74, 57, 77);
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    font-style: italic;
}

.product-details button {
    display: inline-block;
    padding: 0.5rem 0.6rem;
    border: solid rgb(130, 99, 134);
    color: rgb(89, 66, 92);
    text-decoration: none;
    border-radius: 20px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
 }

/* Estilo para el menú desplegable */
#size {
    width: 7rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Quita el estilo por defecto del navegador */
    background-color: #f9f9f9;
    color: #4f4257;
    font-weight: bold;
  }
  #size option {
    padding: 1rem;
    font-weight: bold;    
  }
#colorPicker {
    width: 7rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Quita el estilo por defecto del navegador */
    background-color: #f9f9f9;
    color: #4f4257;
    font-weight: bold;
  }
  
  
  #colorPicker option {
    padding: 10px;
    font-weight: bold;
    color: #fff; 
  }
  
 
 
/*Estilo de la sección reseñas*/

/*Estilo de la sección contacto*/
label {
    color: rgb(74, 57, 77);
    font-size: 1.4rem;
    text-align: center 
}
/*Estilo de la sección redes*/

/*Responsive*/

@media (min-width: 480px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Alinea el contenido hacia abajo */
        align-items: center; /* Centra horizontalmente */
        text-align: center; /* Centra el texto dentro del párrafo */
        padding-bottom: 5rem; /* Ajusta el espacio entre el contenido y el borde inferior */
        box-sizing: border-box; 
    }
    
    
    #trademark {
        font-size: 4rem; 
    }

    .frase {
        font-size: 2rem;
    }

    #btn-in {
        font-size: 2rem;
    }

    .navbar-li a {
        font-size: 1rem;
    }
    .navbar-li{
        float: right;
    }


@media (min-width:  768px) {
    #container {
        display: flex;
        flex-direction: row;
        flex-wrap: row wrap;
        justify-content: center; /* Alinea el contenido hacia abajo */
        align-items: center; /* Centra horizontalmente */
        text-align: center; /* Centra el texto dentro del párrafo */
        padding-bottom: 5rem; /* Ajusta el espacio entre el contenido y el borde inferior */
        box-sizing: border-box; 
    }
    
    
    #trademark {
        font-size: 5rem; 
    }
    .frase {
        font-size: 2.5rem;
    }
    #btn-in {
        font-size: 2rem;
    }
    .navbar-li a {
        font-size: 1rem;
    }
}

@media (min-width: 1080px) {
    #container {
        display: flex;
        flex-direction: row;
        flex-wrap: row wrap;
        justify-content: center; /* Alinea el contenido hacia abajo */
        align-items: center; /* Centra horizontalmente */
        text-align: center; /* Centra el texto dentro del párrafo */
        padding-bottom: 5rem; /* Ajusta el espacio entre el contenido y el borde inferior */
        box-sizing: border-box; 
    }
    
    #trademark {
        font-size: 7rem; 
    }
    .frase {
        font-size: 3.5rem;
    }
    #btn-in {
        font-size: 3rem;
    }
    .navbar-li a {
        font-size: 1rem;
    }
}}